.root{
    -fx-background-color: #fff;
    -fx-padding: 0;
}

.map{
    -fx-background-color: #666970;
}
.map-toolbar .button, .map-toolbar .toggle-button{
    -fx-background-radius: 0;
    -fx-background-color: #66d9ee;
    -fx-border-width: 1px;
    -fx-border-color: #66d9ee;
}
.map-toolbar .button:hover, .map-toolbar .toggle-button:hover, .map-toolbar .toggle-button:selected:hover {
    -fx-background-color: #fff;
    -fx-border-color: #66d9ee;
    -fx-border-width: 1px;
    -fx-text-fill: #000;
}

.map-toolbar .toggle-button:selected{
    -fx-background-color: #c7fcff;
    -fx-border-color: #66d9ee;
    -fx-border-width: 1px;
    -fx-text-fill: #000;
}

.map-toolbar .label{
    -fx-text-fill: #555;
}
.map-toolbar{
    -fx-base: #505359;
    -fx-background: #505359;
    -fx-shadow-highlight-color: transparent;
    -fx-spacing: 5;
    -fx-padding: 6px;
    -fx-background-color: #fff;
}
